<style> 
	* { 
		box-sizing: border-box; 
	} 

	body { 
		margin: 0; 
	} 

	/* Navlist designing */
	#navlist { 
		overflow: hidden; 
		background-color: #0074D9; 
		padding: 90px 10px; 
		transition: 0.4s; 
		position: fixed; 
		width: 100%; 
		top: 0; 
		z-index: 1; 
	} 

	#navlist a { 
		float: left; 
		color: white; 
		text-align: center; 
		padding: 12px; 
		text-decoration: none; 
		font-size: 18px; 
		line-height: 25px; 
		border-radius: 4px; 
	} 

	#navlist #logo { 
		font-size: 35px; 
		font-weight: bold; 
		transition: 0.4s; 
	} 

	#navlist a:hover { 
		color: #01FE06; 
	} 

	#navlist-right { 
		float: right; 
	} 
	
	/* Content design */
	.content { 
		margin-top:220px; 
		padding:15px 15px 1800px; 
		font-size:22px; 
	} 
</style> 
